.action-bar {
  padding: 10px 0;
}

.search-field {
  width: 300px;
}

.btn-add {
  background-color: #ab0520 !important;
  color: white !important;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.btn-add:hover {
  background-color: rgb(12, 35, 75) !important;
  color: #fff !important;
  transform: translateY(-2px);
}

mat-form-field {
  background: white;
}
.btn-xs {
  padding: 2px;      /* tighter left/right space      */
  min-width: 30px;     /* default is 88 (too wide)      */
  font-size: 0.50rem;  /* ~11-12 px                      */
  line-height: 1.4;   /* avoid cropping descenders     */
  margin: 1px;
}