<div class="p-5">

<h2 mat-dialog-title>
  {{ data ? "Edit Scholarship" : "Create Scholarship" }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="form" class="space-y-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Deadline</mat-label>
      <input matInput type="datetime-local" formControlName="deadline">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</div>
</div>
